In [12]:
import pandas as pd
import numpy as np

In [13]:
ele_df = pd.read_excel("Sales_Data.xlsx")
ele_df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,DAYS_SINCE_LASTORDER,STATUS,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2018-02-24,828,Shipped,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,10022,USA,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,2018-05-07,757,Shipped,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,51100,France,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,2018-07-01,703,Shipped,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,2018-08-25,649,Shipped,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,90003,USA,Young,Julie,Medium
4,10168,36,96.66,1,3479.76,2018-10-28,586,Shipped,Motorcycles,95,S10_1678,Technics Stores Inc.,6505556809,9408 Furth Circle,Burlingame,94217,USA,Hirano,Juri,Medium

In [14]:
ele_df.shape

(2747, 20)

In [15]:
ele_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2747 entries, 0 to 2746
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ORDERNUMBER           2747 non-null   int64
 1   QUANTITYORDERED       2747 non-null   int64
 2   PRICEEACH             2747 non-null   float64
 3   ORDERLINENUMBER       2747 non-null   int64
 4   SALES                 2747 non-null   float64
 5   ORDERDATE             2747 non-null   datetime64[ns]
 6   DAYS_SINCE_LASTORDER  2747 non-null   int64
 7   STATUS                2747 non-null   object
 8   PRODUCTLINE           2747 non-null   object
 9   MSRP                  2747 non-null   int64
 10  PRODUCTCODE           2747 non-null   object
 11  CUSTOMERNAME          2747 non-null   object
 12  PHONE                 2747 non-null   object
 13  ADDRESSLINE1          2747 non-null   object
 14  CITY                  2747 non-null   object
 15  POSTALCODE            2747 non-null   object
 16  COUNTRY               2747 non-null   object
 17  CONTACTLASTNAME       2747 non-null   object
 18  CONTACTFIRSTNAME      2747 non-null   object
 19  DEALSIZE              2747 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(5), object(12)
memory usage: 429.3+ KB

In [16]:
ele_df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,DAYS_SINCE_LASTORDER,STATUS,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,CITY,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2018-02-24,828,Shipped,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,NYC,10022,USA,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,2018-05-07,757,Shipped,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,Reims,51100,France,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,2018-07-01,703,Shipped,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,75508,France,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,2018-08-25,649,Shipped,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,Pasadena,90003,USA,Young,Julie,Medium
4,10168,36,96.66,1,3479.76,2018-10-28,586,Shipped,Motorcycles,95,S10_1678,Technics Stores Inc.,6505556809,9408 Furth Circle,Burlingame,94217,USA,Hirano,Juri,Medium

In [17]:
ele_df.isnull().sum()

ORDERNUMBER             0
QUANTITYORDERED         0
PRICEEACH               0
ORDERLINENUMBER         0
SALES                   0
ORDERDATE               0
DAYS_SINCE_LASTORDER    0
STATUS                  0
PRODUCTLINE             0
MSRP                    0
PRODUCTCODE             0
CUSTOMERNAME            0
PHONE                   0
ADDRESSLINE1            0
CITY                    0
POSTALCODE              0
COUNTRY                 0
CONTACTLASTNAME         0
CONTACTFIRSTNAME        0
DEALSIZE                0
dtype: int64

In [18]:
ele_df.describe(include = "all").T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
ORDERNUMBER,2747.0,NaN,NaN,NaN,NaT,NaT,10259.761558,91.877521,10100.0,10181.0,10264.0,10334.5,10425.0
QUANTITYORDERED,2747.0,NaN,NaN,NaN,NaT,NaT,35.103021,9.762135,6.0,27.0,35.0,43.0,97.0
PRICEEACH,2747.0,NaN,NaN,NaN,NaT,NaT,101.098951,42.042548,26.88,68.745,95.55,127.1,252.87
ORDERLINENUMBER,2747.0,NaN,NaN,NaN,NaT,NaT,6.491081,4.230544,1.0,3.0,6.0,9.0,18.0
SALES,2747.0,NaN,NaN,NaN,NaT,NaT,3553.047583,1838.953901,482.13,2204.35,3184.8,4503.095,14082.8
ORDERDATE,2747,246,2018-11-14 00:00:00,38,2018-01-06,2020-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DAYS_SINCE_LASTORDER,2747.0,NaN,NaN,NaN,NaT,NaT,1757.085912,819.280576,42.0,1077.0,1761.0,2436.5,3562.0
STATUS,2747,6,Shipped,2541,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PRODUCTLINE,2747,7,Classic Cars,949,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MSRP,2747.0,NaN,NaN,NaN,NaT,NaT,100.691664,40.114802,33.0,68.0,99.0,124.0,214.0
PRODUCTCODE,2747,109,S18_3232,51,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CUSTOMERNAME,2747,89,Euro Shopping Channel,259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PHONE,2747,88,(91) 555 94 44,259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ADDRESSLINE1,2747,89,"C/ Moralzarzal, 86",259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CITY,2747,71,Madrid,304,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
POSTALCODE,2747,73,28034,259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COUNTRY,2747,19,USA,928,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CONTACTLASTNAME,2747,76,Freyre,259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CONTACTFIRSTNAME,2747,72,Diego,259,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DEALSIZE,2747,3,Medium,1349,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
ele_df.skew()

ORDERNUMBER            -0.006995
QUANTITYORDERED         0.369286
PRICEEACH               0.697222
ORDERLINENUMBER         0.575327
SALES                   1.155940
DAYS_SINCE_LASTORDER   -0.002983
MSRP                    0.575646
dtype: float64

In [20]:
dups = ele_df.duplicated().sum()
print('Number of duplicate rows = %d' % (dups.sum()))

Number of duplicate rows = 0